.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 80%;
}

tr,
td,
th {
  border: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #ddd;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ddd;
}
